/* Reset základního stylu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.navbar {
    max-width: 100%;
    /* Zajištění, že navbar bude přes celou šířku */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.logo {
    font-size: 2rem;
    color: white;
}

.button-group {
    display: flex;
    gap: 0.5rem;
}

.button-group button {
    background-color: #c700b3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #74028e;
    box-shadow: 0px 4px 20px #d246d795;
}


.leva-strana {
    width: 250px;
    padding: 1rem;
    background-color: #f3f3f3;
    border-right: 2px solid #ddd;
    float: left;
    height: 100vh;
}


.main-content {
    margin-left: 250px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Středění obsahu */
}

/* Responsive styling */
@media (max-width: 425px) {


    .leva-strana {
        width: 100%;
        float: none;
        height: auto;
        border-right: none;
        border-top: 2px solid #ddd;
        margin-top: 1rem;
    }

    .main-content {
        margin-left: 0;
        padding: 1rem;
    }
}


.logoutBox {

    display: none;
    position: absolute;
    background-color: #333;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-top: 13px;
    z-index: 10000;

}

.logoutBox button {
    background-color: #c700b3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 25px;
    padding: 30px;
    margin-top: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logoutBox button:hover {
    background-color: #74028e;
    box-shadow: 0px 4px 20px #d246d795;
}


.vyber label {
    display: block;
    margin-top: 1rem;
    color: #333;
}

.vyber select,
.vyber input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Základní styl pro formulář */
form {
    display: flex;
    flex-direction: column;
}

form label,
form input,
form select {
    margin-bottom: 0.5rem;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #009688;
}

.posunuti {
    transition: margin-top 0.3s ease;
}


.posunuto-dolu {
    margin-top: 80px;

}

.scrollable-block {
    width: 100%;
    max-width: 600px;
    height: 300px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(206, 61, 255, 0.327);
    box-sizing: border-box;
    background-color: #f9f9f9;
    text-align: center;
}

.scrollable-block p {
    margin: 0;
    overflow-wrap: break-word;
    white-space: normal;
}

/* Panel s tlačítky */
.button-panel {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    justify-content: center;

}

.button-panel button {
    width: 36px;
    height: 36px;
    border: none;
    background-color: rgb(212, 212, 212);
    color: black;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-panel button:hover {
    background-color: #929292;
}

/* Modal styling */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.error {
    color: red;
    display: none;
}

.modal-container {
    background: rgb(190, 189, 189);
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-container input[type="text"],
input[type="password"] {
    width: 20vh;
    border-radius: 8px;
    border: 2px solid #74028e;
    padding: 4px;
    padding-left: 14px;

}

/* Změna barvy rámečku při focusu */
.modal-container input[type="text"]:focus,
.modal-container input[type="password"]:focus {
    border-color: #c700b3;

}


.blurred {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.modal-container button[type="submit"] {
    background-color: #c321b2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.modal-container button[type="submit"]:hover {
    background-color: #74028e;
    box-shadow: 0 4px 8px #c321b2;
}

.close-button {
    background: none;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: rgb(146, 146, 146);
}