.container{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 150px;
    
}
.textBox{
    border-radius: 10px;
}
.text{
   padding-left: 10px;
}

.errorLogin{
    color: red;
    padding: 10px;
    display: none;
}
.submit{
    border-radius: 10px;
    width: 70px;
    height: 40px;
    padding-top: auto;
}